/* DEVELOPER: Livia Loi, IS117-005, Fall 2020 */
body {
    background-color: #CEB5A7;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #83A0A0;
    color: white;
    text-align: center;
    padding: 10px;
    font-size:.5rem;
}

.navbar-custom {
    background-color: #83A0A0;
}

.card {
    margin: 10px;
}

p {
    font-size: 90%;
}


/* media queries */

/* small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

}

/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
