/* DEVELOPER: Livia Loi, IS117-005, Fall 2020 */
body {
    background-color: #CEB5A7;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #83A0A0;
    color: white;
    text-align: center;
    padding: 10px;
    font-size:.5rem;
}
.jumbotron {
    margin: 10px;
}
.bg-cover {
    padding-top: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
}

.navbar-custom {
    background-color: #83A0A0;
}

.form-group {
    padding-top: 10px;
}

p {
    font-size: 90%;
}



/*media query for a tablet in portrait view*/
@media only screen and (max-width: 959px) {

}

/* media query for a phone in landscape orientation */
@media only screen and (max-width: 767px) {

}

/* media query for a phone in portrait orientation */
@media only screen and (max-width: 479px) {
    body {
        font-size: 90%;
    }
}
