body {
    background-color: #CEB5A7;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #83A0A0;
    color: white;
    text-align: center;
    padding: 10px;
    font-size:.5rem;
}


/* the styles for the section */

section {
    float: right;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

section h5 {
    padding-top: .5em;
}
section p {
    padding-top: .5em;
    font-size: 90%;
}

/* the styles for the aside */

aside {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-bottom: 29.5px;
}

aside a:hover {
    font-style: italic;
}

aside p {
    font-size: 90%;
}

aside h4 {
    padding-bottom: .25em;
}


.navbar-custom {
    background-color: #83A0A0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
}

/* media queries */

/* small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

}

/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}