body {
    background-color: #CEB5A7;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #83A0A0;
    color: white;
    text-align: center;
    padding: 10px;
    font-size:.5rem;
}

section {
    float: right;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

aside {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-bottom: 29.5px;
}

section img {
    clear: left;
    padding-bottom: 1em;
}

section h2 {
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;

}

section p {
    padding-bottom: .5em;
}

section blockquote {
    padding-right: 2em;
    padding-left: 2em;
    font-style: italic;
}


section li {
    padding-bottom: .35em;
}

/* the styles for the aside */
aside h2 {
    font-size: 130%;
    padding-top: .5em;
    padding-bottom: .25em;
    color: #800000;

}
aside a:hover {
    font-style: italic;
}

aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

aside img {
    padding-bottom: 1em;
}

h1 {
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin-top: 0;
    margin-bottom: 0;
}

/* the styles for the article */
article {
    padding-top: .5em;
    padding-bottom: .5em;
}

article img {
    float: right;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
    border: 1px black;
}

article h2 {
    padding-top: 0;
}

article h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

.navbar-custom {
    background-color: #83A0A0;
}